= form_for @shop_store do |f|
  - if @shop_store.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shop_store.errors.count, "error")} prohibited this shop_store from being saved:"
      %ul
        - @shop_store.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :code
    = f.text_field :code, class: 'form-control'
  .form-group
    = f.label :contact
    = f.text_field :contact, class: 'form-control'
  .form-group
    = f.label :mobile
    = f.text_field :mobile, class: 'form-control'
  .form-group
    = f.label :address
    = f.text_field :address, class: 'form-control'
  .actions
    = f.submit I18n.t('save'), class: 'btn btn-primary'
