= form_for @store_assistant do |f|
  - if @store_assistant.errors.any?
    #error_explanation
      %h2= "#{pluralize(@store_assistant.errors.count, "error")} prohibited this store_assistant from being saved:"
      %ul
        - @store_assistant.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :city
    = f.text_field :city, class: 'form-control'
  .form-group
    = f.label :store
    = f.text_field :store, class: 'form-control'
  .form-group
    = f.label :department
    = f.text_field :department, class: 'form-control'
  .form-group
    = f.label :level
    = f.text_field :level, class: 'form-control'
  .form-group
    = f.label :cell
    = f.text_field :cell, class: 'form-control'
  .actions
    = f.submit I18n.t('save'), class: 'btn btn-primary'
