.row-fluid
  .col-md-6.col-md-offset-3
    .panel.panel-primary
      .panel-heading
        %h4.panel-title.text-center= Product.model_name.human
      = simple_form_for([@product, @product.serials.build], html: { class: 'form-horizontal' }, |
        wrapper: :horizontal_form,                                                              |
        wrapper_mappings: {                                                                     |
        check_boxes: :horizontal_radio_and_checkboxes,                                          |
        radio_buttons: :horizontal_radio_and_checkboxes,                                        |
        file: :horizontal_file_input,                                                           |
        boolean: :horizontal_boolean}) do |f|                                                   |
        .panel-body
          = f.input :count
        .panel-footer.text-center
          / <p class="text-center">
          = f.button :submit, class: "btn btn-danger"
          = link_to t(:back), :back, class: "btn btn-default"
          / </p>
