<tr>
  <td><%= serial.phone %></td>
  <td><%= User.find(serial.user_id).name if serial.user_id  %></td>
  <td>
    <%= qr_code(serial.id) %>
  </td>
  <td><%= serial.serial_no %></td>
  <td><%= serial.state %></td>
</tr>
