<%= render 'grid' %>
<div class="row-fluid">
  <div class="col-md-12 well" style="margin-bottom: 0px;border-bottom-width: 0px;padding-bottom: 0px;border-radius: 0px;">
    <form role="form" class="form-horizontal row">
      <div class="col-xs-4">
          <div class="form-group">
            <label for="exampleInput1" class="col-sm-6 control-label"><span><%= Product.human_attribute_name(:product_name) %></span></label>
            <div class="col-sm-6">
                <%= grid_filter @products_grid, :name_filter %>
            </div>
          </div>
      </div>
      <div class="col-xs-4">
          <div class="form-group">
            <label for="exampleInput2"  class="col-sm-6 control-label" ><%= Product.human_attribute_name(:score) %></label>
            <div class="col-sm-6">
                <%= grid_filter @products_grid, :score_filter %>
            </div>
          </div>
      </div>
      <div class="col-xs-4">
        <div class="external-buttons">
          <button class="btn btn-primary wg-external-submit-button" data-grid-name="products_list_grid">查询</button>
          <%= link_to t(:new_product), new_product_path, class: "btn btn-danger" if can? :create, Product %>
        </div>
      </div>
    </form>
  </div>
<div class="row-fluid">
  <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
    <%= render_grid(@products_grid) %>
  </div>
</div>
