<div class="row-fluid">
  <div class="col-md-12">
    <div class="panel panel-danger">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h4 class="panel-title text-center"><%= t(:admin_list) %></h4>
      </div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th><%= Admin.human_attribute_name("name") %></th>
            <th><%= Admin.human_attribute_name("email") %></th>
            <th><%= Admin.human_attribute_name("state") %></th>
            <th colspan="4"><%= t(:operations) %></th>
          </tr>
        </thead>
        <tbody>
          <% @admins.each do |admin| %>
            <tr>
              <td><%= admin.id %></td>
              <td><%= admin.name %></td>
              <td><%= admin.email %></td>
              <td><%= admin.state %></td>
              <td><%= link_to t(:confirm), confirm_admin_path(admin) if can? :confirm, Admin  %></td>
              <td><%= link_to t(:deny), deny_admin_path(admin) if can? :deny, Admin %></td>
              <td><%= link_to t(:reset_password), edit_admin_path(admin) if can? :edit, Admin %></td>
              <td><%= link_to t(:destroy), admin, method: :delete, data: {confirm: t(:are_you_sure)} if can? :delete, Admin %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="col-md-4">
    <%= link_to t(:new_admin), new_admin_path, class: "btn btn-danger" %>
  </div>
</div>
