<div class="col-md-10">
  <h3><%= t(:admin_list) %></h3>
</div>
<div class="col-md-2">
  <%= link_to t(:new_admin), new_admin_path, class: "btn btn-danger" %>
</div>
<div class="col-md-12">
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th><%= Admin.human_attribute_name("name") %></th>
        <th colspan="2"><%= t(:operations) %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @admins.each do |admin| %>
          <td><%= admin.id %></td>
          <td><%= admin.name %></td>
          <td><%= link_to t(:reset_password), edit_admin_path(admin) %></td>
          <td><%= link_to t(:destroy), admin, method: :delete, data: {confirm: t(:are_you_sure)} %></td>
        <% end %>
      </tr>  
    </tbody>
  </table>
</div>