<%= search_form_for(@q, html: { class: 'form-horizontal' }, 
    wrapper: :horizontal_form,
    wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean}) do |f| %>
  <div class="col-md-3">
    <%= f.input :user_name_cont, required: false, label: User.human_attribute_name('name') %>
  </div>
  <div class="col-md-3">
    <%= f.input :user_cell_cont, required: false, label: User.human_attribute_name('cell') %>
  </div>
  <div class="col-md-3">
    <%= f.input :city_eq, required: false, collection: Record.pluck(:city).uniq, label: Record.human_attribute_name('city') %>
  </div>
  <div class="col-md-3">
    <%= f.input :prize_eq, required: false, collection: Record.pluck(:prize).uniq, label: Record.human_attribute_name('prize') %>
  </div>
  <div class="col-md-3">
    <%= f.input :state_eq, required: false, collection: Record.pluck(:state).uniq, label: Record.human_attribute_name('state') %>
  </div>
  <div class="col-md-3">
    <%= f.button :submit, t(:search) %>
  </div>
<% end %>