.row-fluid
  .col-md-12
    .panel.panel-info
      / Default panel contents
      .panel-heading
        %h4.panel-title.text-center= t(:thirdparty_list)
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th #
            %th= Thirdparty.human_attribute_name("code")
            %th= Thirdparty.human_attribute_name("name")
            %th= Thirdparty.human_attribute_name("image")
            %th{:colspan => "3"}= t(:operations)
        %tbody
          - @thirdparties.each do |thirdparty|
            %tr
              %td= thirdparty.id
              %td= thirdparty.code
              %td= thirdparty.name
              %td= image_tag thirdparty.image.thumb
              %td= link_to t(:edit), edit_thirdparty_path(thirdparty) if can? :edit, Thirdparty
              %td= link_to t(:destroy), thirdparty, method: :delete, data: {confirm: t(:are_you_sure)} if can? :delete, Thirdparty
.row-fluid
  .col-md-4
    = link_to t(:new_thirdparty), new_thirdparty_path, class: "btn btn-danger"
