<div class="row-fluid">
  <div class="col-md-12">
    <div class="panel panel-info">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h4 class="panel-title text-center"><%= t(:scanlog_list) %></h4>
      </div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th><%= Scanlog.human_attribute_name(:serial) %></th>
            <th><%= Scanlog.human_attribute_name(:current_score) %></th>
            <th><%= Scanlog.human_attribute_name(:created_at) %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @scanlogs %>
        </tbody>
      </table>
    </div>
  </div>
</div>
