<div class="row-fluid">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
         <h4 class="panel-title text-center"><%= Product.model_name.human %></h4>
      </div>
      <%= simple_form_for(@product, html: { class: 'form-horizontal' },
          wrapper: :horizontal_form,
          wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean}) do |f| %>
      <div class="panel-body">
        <%= f.input :product_name %>
        <%= f.input :product_image %>
      </div>
      <div class="panel-footer text-center">
        <!-- <p class="text-center"> -->
            <%= f.button :submit, class: "btn btn-danger" %>
            <%= link_to t(:back), :back, class: "btn btn-default" %>
        <!-- </p> -->
      </div>
      <% end %>
    </div>
  </div>
</div>
