<div class="row-fluid">
  <div class="col-md-12">
    <div class="panel panel-info">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h4 class="panel-title text-center"><%= t(:product_list) %></h4>
      </div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th><%= Product.human_attribute_name("product_name") %></th>
            <th><%= Product.human_attribute_name("score") %></th>
            <th><%= Product.human_attribute_name("product_image") %></th>
            <th colspan="3"><%= t(:operations) %></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.id %></td>
              <td><%= product.product_name %></td>
              <td><%= product.score %></td>
              <td><%= image_tag product.product_image.thumb %></td>
              <td><%= link_to t(:show), product_path(product) if can? :read, Product %></td>
              <td><%= link_to t(:edit), edit_product_path(product) if can? :edit, Product %></td>
              <td><%= link_to t(:destroy), product, method: :delete, data: {confirm: t(:are_you_sure)} if can? :delete, Product %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="col-md-4">
    <%= link_to t(:new_product), new_product_path, class: "btn btn-danger" %>
  </div>
</div>
