#accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  .panel.panel-default
    #headingZero.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.active{"aria-controls" => "collapseZero", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseZero", :role => "button"}
          快捷首页
    #collapseZero.panel-collapse.collapse.in{"aria-labelledby" => "headingZero", :role => "tabpanel"}
      .panel-body
        %ul.nav.nav-pills.nav-stacked
          %li{:class => active_class(root_path) }
            = link_to '快捷首页', root_path

  .panel.panel-default
    #headingOne.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseOne", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button"}
          商家管理首页
    #collapseOne{"aria-labelledby" => "headingOne", :class => "panel-collapse collapse #{'in' if params[:controller] == 'admins'}", :role => "tabpanel"}
      .panel-body
        %ul.nav.nav-pills.nav-stacked
          %li= link_to '商家列表', '/reports/idx1_1.html'
          %li= link_to '商家门店列表', '/reports/idx1_2.html'
          %li= link_to '商家手机终端管理', '/reports/idx1_3.html'
          %li= link_to '门店列表', '/reports/idx1_4.html'
          %li= link_to '积分汇率管理', '/reports/idx1_5.html'
          %li= link_to '商家门店分润列表', '/reports/idx1_6.html'
  .panel.panel-default
    #headingTwo.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button"}
          商品管理首页
    #collapseTwo{"aria-labelledby" => "headingTwo", :class => "panel-collapse collapse #{'in' if params[:controller] == 'products'}", :role => "tabpanel"}
      .panel-body
        %ul.nav.nav-pills.nav-stacked
          %li{:class => "#{'active' if params[:controller] == 'products'}"}
            = link_to '商品列表', products_path
          / <li><haml_loud> link_to &#39;商品列表&#39;, &#39;/reports/idx2_1.html&#39; </haml_loud></li>
          %li= link_to '商品分类', '/reports/idx2_2.html'
          %li= link_to '属性值列表', '/reports/idx2_3.html'
  .panel.panel-default
    #headingThree.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button"}
          编码管理首页
    #collapseThree{"aria-labelledby" => "headingThree", :class => "panel-collapse collapse #{'in' if params[:controller] == 'serials'}", :role => "tabpanel"}
      .panel-body
        %ul.nav.nav-pills.nav-stacked
          %li{:class => "#{'active' if (params[:controller] == 'serials' && params[:action] == 'index')}"}
            = link_to '二维码生成', serials_path
          %li{:class => "#{'active' if (params[:controller] == 'serials' && params[:action] == 'query')}"}
            = link_to '二维码查询', query_serials_path
          %li= link_to '扫描记录', '/reports/idx3_1.html'
          %li= link_to '二维码激活数', '/reports/idx3_2.html'
          %li= link_to '商家条码管理', '/reports/idx3_3.html'
          %li= link_to '二维码操作列表', '/reports/idx3_4.html'
          %li= link_to '二维码管理', '/reports/idx3_5.html'
          %li= link_to '二维码注销', '/reports/idx3_6.html'
          %li= link_to '异常扫码查询', '/reports/idx3_7.html'
  /
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
    <h4 class="panel-title">
    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
    促销管理首页
    </a>
    </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
    <div class="panel-body">
    
    </div>
    </div>
    </div>
  .panel.panel-default
    #headingFive.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseFive", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFive", :role => "button"}
          订单管理首页
    #collapseFive.panel-collapse.collapse{"aria-labelledby" => "headingFive", :role => "tabpanel"}
      .panel-body
        %ul.nav.nav-pills.nav-stacked
          %li= link_to '订单列表', '/reports/idx5_1.html'
          %li= link_to '发货单列表', '/reports/idx5_2.html'
          %li= link_to '评价系统', '/reports/idx5_3.html'
  .panel.panel-default
    #headingSix.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseSix", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSix", :role => "button"}
          报表统计首页
    #collapseSix.panel-collapse.collapse{"aria-labelledby" => "headingSix", :role => "tabpanel"}
      .panel-body
  .panel.panel-default
    #headingEight.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseEight", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEight", :role => "button"}
          会员管理首页
    #collapseEight{"aria-labelledby" => "headingEight", :class => "panel-collapse collapse #{'in' if params[:controller] == 'users'}", :role => "tabpanel"}
      .panel-body
        %ul.nav.nav-pills.nav-stacked
          %li{:class => "#{'active' if params[:controller] == 'users'}"}= link_to "会员列表", users_path
          / <li><haml_loud> link_to &#39;会员列表&#39;, &#39;/reports/idx6_1.html&#39; </haml_loud></li>
          %li= link_to '积分管理', '/reports/idx6_2.html'
  .panel.panel-default
    #headingNine.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseNine", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseNine", :role => "button"}
          模板管理首页
    #collapseNine.panel-collapse.collapse{"aria-labelledby" => "headingNine", :role => "tabpanel"}
      .panel-body
        %ul.nav.nav-pills.nav-stacked
          %li= link_to '主题管理', '/reports/idx7_1.html'
          %li= link_to '关键字列表', '/reports/idx7_2.html'
          %li= link_to '商家主题管理', '/reports/idx7_3.html'
  .panel.panel-default
    #headingTen.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseTen", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTen", :role => "button"}
          短信管理首页
    #collapseTen.panel-collapse.collapse{"aria-labelledby" => "headingTen", :role => "tabpanel"}
      .panel-body
        %ul.nav.nav-pills.nav-stacked
          %li= link_to '批量发送短信', '/reports/idx8_1.html'
          %li= link_to '短信接口设置', '/reports/idx8_2.html'
