<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          商家管理首页
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse <%= 'in' if params[:controller] == 'admins' %>" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to '商家列表', '/reports/idx1_1.html' %></li>
          <li><%= link_to '商家门店列表', '/reports/idx1_2.html' %></li>
          <li><%= link_to '商家手机终端管理', '/reports/idx1_3.html' %></li>
          <li><%= link_to '门店列表', '/reports/idx1_4.html' %></li>
          <li><%= link_to '积分汇率管理', '/reports/idx1_5.html' %></li>
          <li><%= link_to '商家门店分润列表', '/reports/idx1_6.html' %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          商品管理首页
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse <%= 'in' if params[:controller] == 'products' %>" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
          <li class="<%= 'active' if params[:controller] == 'products' %>"><%= link_to '商品列表', products_path %></li>
          <!-- <li><%= link_to '商品列表', '/reports/idx2_1.html' %></li> -->
          <li><%= link_to '商品分类', '/reports/idx2_2.html' %></li>
          <li><%= link_to '属性值列表', '/reports/idx2_3.html' %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          编码管理首页
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse <%= 'in' if params[:controller] == 'serials' %>" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
          <li class="<%= 'active' if (params[:controller] == 'serials' && params[:action] == 'index') %>"><%= link_to '二维码生成', serials_path %></li>
          <li class="<%= 'active' if (params[:controller] == 'serials' && params[:action] == 'query') %>"><%= link_to '二维码查询', query_serials_path %></li>
          <li><%= link_to '扫描记录', '/reports/idx3_1.html' %></li>
          <li><%= link_to '二维码激活数', '/reports/idx3_2.html' %></li>
          <li><%= link_to '商家条码管理', '/reports/idx3_3.html' %></li>
          <li><%= link_to '二维码操作列表', '/reports/idx3_4.html' %></li>
          <li><%= link_to '二维码管理', '/reports/idx3_5.html' %></li>
          <li><%= link_to '二维码注销', '/reports/idx3_6.html' %></li>
          <li><%= link_to '异常扫码查询', '/reports/idx3_7.html' %></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          促销管理首页
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">

      </div>
    </div>
  </div> -->

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          订单管理首页
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to '订单列表', '/reports/idx5_1.html' %></li>
          <li><%= link_to '发货单列表', '/reports/idx5_2.html' %></li>
          <li><%= link_to '评价系统', '/reports/idx5_3.html' %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          报表统计首页
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEight">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          会员管理首页
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse <%= 'in' if params[:controller] == 'users' %>" role="tabpanel" aria-labelledby="headingEight">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
          <li class="<%= 'active' if params[:controller] == 'users' %>"><%= link_to "会员列表", users_path %></li>
          <!-- <li><%= link_to '会员列表', '/reports/idx6_1.html' %></li> -->
          <li><%= link_to '积分管理', '/reports/idx6_2.html' %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingNine">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          模板管理首页
        </a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to '主题管理', '/reports/idx7_1.html' %></li>
          <li><%= link_to '关键字列表', '/reports/idx7_2.html' %></li>
          <li><%= link_to '商家主题管理', '/reports/idx7_3.html' %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          短信管理首页
        </a>
      </h4>
    </div>
    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to '批量发送短信', '/reports/idx8_1.html' %></li>
          <li><%= link_to '短信接口设置', '/reports/idx8_2.html' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
