<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title><%= t(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>孕前妈妈小测试</h1>
  </br>
  <h3>您最想要的是男孩or女孩</h3>
  <%= bar_chart Test.group(:field_1).count, id: "field_1-chart", width: "800px", height: "120px", colors: ["pink", "#999"], stacked: true, library: {backgroundColor: "#eee"} %>
  </br>
  <h3>如果有条件，您如何做月子</h3>
  <%= bar_chart Test.group(:field_6).count, id: "field_6-chart", width: "800px", height: "120px" %>
  </br>
  <h3>宝宝出生后，你会选择怎么喂养</h3>
  <%= bar_chart Test.group(:field_7).count, id: "field_7-chart", width: "800px", height: "120px" %>
  </br>
  <h3>您准备怎么带宝宝</h3>
  <%= bar_chart Test.group(:field_8).count, id: "field_8-chart", width: "800px", height: "120px" %>
  </br>
  <h3>你认为带大一个孩子（出生到上小学前）需要花费多少钱</h3>
  <%= bar_chart Test.group(:field_9).count, id: "field_9-chart", width: "800px", height: "120px" %>


</body>
</html>
